In [1]:
import pandas as pd
import numpy as np
from functions import *

In [2]:
coin = 'BTC'

In [2]:
data, X, y = setup('BTC')

,volume,SMA_20,SMA_50,Volume_MA_20,OBV,score_x,BB_Lower,BB_Middle,BB_Upper
0,15249.842114,63384.6340,65477.6480,11743.690520,-171947.807670,0.000000,59195.320450,63384.6340,67573.947550
1,22838.079342,63267.4180,65593.8616,11355.519713,-156697.965555,0.000000,58963.702342,63267.4180,67571.133658
2,5157.407265,63228.6780,65702.9752,10631.618515,-133859.886214,-0.002954,58933.039911,63228.6780,67524.316089
3,4487.487232,63019.6080,65796.3552,10949.304647,-139017.293479,0.000000,58673.855584,63019.6080,67365.360416
4,10977.051786,62812.6935,65887.2514,10841.833691,-134529.806247,0.000000,58460.455364,62812.6935,67164.931636
...,...,...,...,...,...,...,...,...,...
432,8243.059013,65573.5735,66024.8888,11339.592079,-176279.184625,0.001982,51887.952442,65573.5735,79259.194558
433,8243.059013,65573.5735,66024.8888,11339.592079,-176279.184625,0.002130,51887.952442,65573.5735,79259.194558
434,8243.059013,65573.5735,66024.8888,11339.592079,-176279.184625,0.011212,51887.952442,65573.5735,79259.194558
435,8243.059013,65573.5735,66024.8888,11339.592079,-176279.184625,0.011069,51887.952442,65573.5735,79259.194558
436,3911.682058,64530.2495,65766.7366,11489.527737,-168036.125612,0.000000,53936.222779,64530.2495,75124.276221