In [3]:
import pandas as pd
import numpy as np
from functions import *

In [2]:
coin = 'BTC'

In [4]:
data = pd.read_csv(fullDataPath(coin))
data

,time,low,high,open,close,volume,change,pct_change,SMA_20,SMA_50,...,score_coin,Unnamed: 0_filtered,Username,Text,Created_at,Tweet_ID,coin,sentiment_tweet_roberta,score_filtered,date_filtered
0,2024-04-18,60816.07,64210.00,61275.73,63513.85,15249.842114,2238.12,3.652539,63384.6340,65477.6480,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-19,59573.32,65498.99,63514.84,63848.37,22838.079342,333.53,0.525121,63267.4180,65593.8616,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-20,63121.15,65463.08,63841.96,64968.87,5157.407265,1126.91,1.765156,63228.6780,65702.9752,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-21,64250.00,65725.81,64960.82,64952.92,4487.487232,-7.90,-0.012161,63019.6080,65796.3552,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-22,64520.00,67272.73,64952.92,66859.17,10977.051786,1906.25,2.934818,62812.6935,65887.2514,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2025-04-16,83088.02,85526.40,83622.52,84028.72,8243.059013,406.20,0.485754,65573.5735,66024.8888,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,2025-04-16,83088.02,85526.40,83622.52,84028.72,8243.059013,406.20,0.485754,65573.5735,66024.8888,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,2025-04-16,83088.02,85526.40,83622.52,84028.72,8243.059013,406.20,0.485754,65573.5735,66024.8888,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,2025-04-16,83088.02,85526.40,83622.52,84028.72,8243.059013,406.20,0.485754,65573.5735,66024.8888,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,2025-04-17,83711.69,85236.12,84028.71,85228.07,3911.682058,1199.36,1.427322,64530.2495,65766.7366,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
trainingCols =