# Cookies: Make sure to Hide from GitHub

In [6]:
your_username = "AI_agent__"
your_password = "CryptoProject123!"
your_email = "aiagent6969@gmail.com"
email_password = "CryptoProject123!"

In [7]:
import sys
sys.executable

'/usr/local/bin/python3.12'

data

In [15]:
# Imports and Configuration
import asyncio
import requests
import xml.etree.ElementTree as ET
import pandas as pd
from datetime import datetime
import json

# For scraping X (formerly Twitter) using twscrape
# (Ensure that you have installed twscrape as per the repo instructions)
from twscrape import API, gather
from twscrape.logger import set_log_level

# For sentiment analysis, if you want to run it on text later:
from transformers import pipeline

# Data Source configuration
GOOGLE_NEWS_RSS_URL = "https://news.google.com/rss/search?q=cryptocurrency"
FEAR_GREED_URL = "https://api.alternative.me/fng/"
# The search query for scraping X (formerly Twitter)
SCRAPE_X_QUERY = "Bitcoin lang:en"  # adjust query as needed

# Optional: Configure your Hugging Face model (free model example)
SENTIMENT_MODEL_NAME = "distilbert-base-uncased-finetuned-sst-2-english"

# Pull Data From Google News

In [16]:
def fetch_google_news(rss_url):
    """
    Fetch crypto-related headlines from the given Google News RSS URL.
    Returns a list of dictionaries with 'timestamp', 'source', and 'text'.
    """
    response = requests.get(rss_url)
    if response.status_code != 200:
        raise Exception("Failed to fetch Google News data")
    root = ET.fromstring(response.content)
    news_items = []
    for item in root.findall(".//item"):
        title = item.find("title").text
        pubDate = item.find("pubDate").text
        # Try to convert pubDate to datetime; if it fails, just use the raw text.
        try:
            dt = datetime.strptime(pubDate, "%a, %d %b %Y %H:%M:%S %Z")
        except Exception:
            dt = pubDate
        news_items.append({
            "timestamp": dt,
            "source": "GoogleNews",
            "text": title
        })
    return news_items

# Fetch the Google News data and preview it
google_news_data = fetch_google_news(GOOGLE_NEWS_RSS_URL)
df_google_news = pd.DataFrame(google_news_data)
print("Google News Data:")
display(df_google_news.head(100))

Google News Data:

,timestamp,source,text
0,2025-04-26 15:00:00,GoogleNews,Broaden Your Crypto Knowledge With These 5 Cry...
1,2025-04-28 09:13:49,GoogleNews,‚ÄòHow did you get suckered?‚Äô: Investing in cryp...
2,2025-04-29 09:01:44,GoogleNews,"Secret Deals, Foreign Investments, Presidentia..."
3,2025-04-29 11:00:09,GoogleNews,SoFi CEO says fintech bank is bringing back cr...
4,2025-04-25 07:00:00,GoogleNews,NC lawmakers set the stage for votes on immigr...
...,...,...,...
95,2025-04-25 03:05:00,GoogleNews,North Korean hackers set up fake US firms to t...
96,2025-04-20 16:01:14,GoogleNews,China Set To Give Crypto Legal Recognition? Du...
97,2025-04-29 14:12:27,GoogleNews,Criminal activity fears as crypto ATM populari...
98,2025-04-01 07:00:00,GoogleNews,How Many Cryptocurrencies are There In 2025? -...
99,2025-04-28 15:19:20,GoogleNews,AICPA Outlines Its Digital Assets Activities t...

In [18]:
# Imports and Configuration
import requests
import xml.etree.ElementTree as ET
import pandas as pd
from datetime import datetime
import os
os.environ["TRANSFORMERS_OFFLINE"] = "1"  # Optional: prevent downloads
os.environ["TF_KERAS"] = "1"  # Tell transformers to use tf.keras
from transformers import pipeline

# Data Source configuration
GOOGLE_NEWS_RSS_URL = "https://news.google.com/rss/search?q=cryptocurrency"
SENTIMENT_MODEL_NAME = "distilbert-base-uncased-finetuned-sst-2-english"

def fetch_google_news(rss_url):
    """
    Fetch crypto-related headlines from the given Google News RSS URL.
    Returns a list of dictionaries with 'timestamp', 'source', and 'text'.
    """
    response = requests.get(rss_url)
    if response.status_code != 200:
        raise Exception("Failed to fetch Google News data")
    root = ET.fromstring(response.content)
    news_items = []
    for item in root.findall(".//item"):
        title = item.find("title").text
        pubDate = item.find("pubDate").text
        try:
            dt = datetime.strptime(pubDate, "%a, %d %b %Y %H:%M:%S %Z")
        except Exception:
            dt = pubDate
        news_items.append({
            "timestamp": dt,
            "source": "GoogleNews",
            "text": title
        })
    return news_items

# Fetch the Google News data
google_news_data = fetch_google_news(GOOGLE_NEWS_RSS_URL)

# Convert news data to a DataFrame
df_google_news = pd.DataFrame(google_news_data)
print("Google News Data (before sentiment):")
print(df_google_news.head(100))

# Initialize Hugging Face sentiment pipeline
sentiment_pipeline = pipeline("sentiment-analysis", model=SENTIMENT_MODEL_NAME)

# Apply sentiment analysis to each headline
def analyze_headline_sentiment(text):
    result = sentiment_pipeline(text)
    # Returns a dictionary with the label and score for clarity
    return {"label": result[0]["label"], "score": result[0]["score"]}

# Add a new column to DataFrame with sentiment results
df_google_news["sentiment"] = df_google_news["text"].apply(analyze_headline_sentiment)

print("\nGoogle News Data with Sentiment Analysis:")
print(df_google_news.head(100))

Google News Data (before sentiment):
             timestamp      source  \
0  2025-04-26 15:00:00  GoogleNews
1  2025-04-28 09:13:49  GoogleNews
2  2025-04-29 09:01:44  GoogleNews
3  2025-04-29 11:00:09  GoogleNews
4  2025-04-25 07:00:00  GoogleNews
..                 ...         ...
95 2025-04-29 14:12:27  GoogleNews
96 2025-04-28 15:19:20  GoogleNews
97 2025-03-26 07:00:00  GoogleNews
98 2025-04-06 07:00:00  GoogleNews
99 2025-04-22 19:39:38  GoogleNews

                                                 text
0   Broaden Your Crypto Knowledge With These 5 Cry...
1   ‚ÄòHow did you get suckered?‚Äô: Investing in cryp...
2   Secret Deals, Foreign Investments, Presidentia...
3   SoFi CEO says fintech bank is bringing back cr...
4   NC lawmakers set the stage for votes on immigr...
..                                                ...
95  Criminal activity fears as crypto ATM populari...
96  AICPA Outlines Its Digital Assets Activities t...
97  What we know about Trump family‚Äôs plan to sell...
98  Watch These Bitcoin Price Levels as Cryptocurr...
99  When Will Bitcoin Be Worth $1 Million? - Inves...

[100 rows x 3 columns]

RuntimeError: Failed to import transformers.models.distilbert.modeling_tf_distilbert because of the following error (look up to see its traceback):
Your currently installed version of Keras is Keras 3, but this is not yet supported in Transformers. Please install the backwards-compatible tf-keras package with `pip install tf-keras`.

In [11]:
import keras
print(f"Keras version: {keras.__version__}")
print(f"Keras path: {keras.__file__}")

Keras version: 3.1.1
Keras path: /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/keras/__init__.py

# Crypto Fear and Greed Index

In [5]:
def fetch_fear_greed_index(url):
    """
    Fetch the current crypto Fear & Greed index from Alternative.me.
    Returns a dictionary with 'timestamp', 'source', 'value', and 'text' (as a string description).
    """
    response = requests.get(url, params={"limit": 1})
    if response.status_code != 200:
        raise Exception("Failed to fetch Fear & Greed data")
    data = response.json()
    if "data" in data and len(data["data"]) > 0:
        result = data["data"][0]
        # Convert the provided timestamp (in seconds) to a datetime
        ts = datetime.fromtimestamp(int(result["timestamp"]))
        # Construct a descriptive text based on the index value and classification.
        text = f"Fear & Greed Index: {result['value']} ({result['value_classification']})"
        return {
            "timestamp": ts,
            "source": "FearGreed",
            "value": result["value"],
            "text": text
        }
    return None

# Fetch the Fear & Greed index data and preview it
fear_greed_data = fetch_fear_greed_index(FEAR_GREED_URL)
df_fear_greed = pd.DataFrame([fear_greed_data])
print("Fear & Greed Data:")
display(df_fear_greed)

Fear & Greed Data:

            timestamp     source value                           text
0 2025-04-12 17:00:00  FearGreed    45  Fear & Greed Index: 45 (Fear)

# Data From X (Twitter)

In [6]:
import asyncio
from twikit import Client

# Your credentials
USERNAME = "kingsuching"
EMAIL = "sucheen.sundaram@gmail.com"
PASSWORD = open('password.txt').readlines()

# Initialize the client, specifying the locale (e.g., 'en-US')
client = Client('en-US')

async def main():
    # Log in using your account credentials;
    # cookies will be saved to 'cookies.json' for future sessions.
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    # Example: search for tweets that match a search term.
    # The second parameter defines which tweet tab to use ("Latest", "Top", etc.)
    search_term = "cryptocurrency"
    tweets = await client.search_tweet(search_term, "Latest")
    
    # Print out tweet details
    for tweet in tweets:
        print(f"{tweet.user.name} - {tweet.text} - {tweet.created_at}")
# await main()
# Run the main async function
await main()

Globalia Jive News - „Äå"A joke wrapped in volatility":
„ÄÄFartcoin surges by 300% defying
„ÄÄthe global market chaos„Äç

„Äå„Éú„É©„ÉÜ„Ç£„É™„ÉÜ„Ç£„Å´ÂåÖ„Åæ„Çå„Åü„Ç∏„Éß„Éº„ÇØ„ÄçÔºö
„Éï„Ç°„Éº„Éà„Ç≥„Ç§„É≥„Åå‰∏ñÁïåÂ∏ÇÂ†¥„ÅÆ
Â§ßÊ∑∑‰π±„Å´ÈÄÜ„Çâ„Å£„Å¶300%„ÇÇÊÄ•È®∞Ôºõ

#‰ªÆÊÉ≥ÈÄöË≤®
#„Éï„Ç°„Éº„Éà„Ç≥„Ç§„É≥
#Â∏ÇÂ†¥„ÅÆÊ∑∑‰π±
#Cryptocurrency
#Fartcoin
#MarketChaos - Sun Apr 13 20:39:31 +0000 2025
Rekt - üí• Double Kill For ETH üí•
üí• Buy $329.75K @ $1587.07 üí•
üí• Buy $474.41K @ $1581.36 üí•
Consequences will never be the same
#cryptocurrency #blockchain #ethereum #btc #forex #trading #money #cryptotrading #stock https://t.co/22HdvolvuH - Sun Apr 13 20:39:19 +0000 2025
–ê–π—è - @BOA_0000 ‚ú® Sorry, I only accept airdrops from my grandma's favorite cryptocurrency üòâ  üöÄ - Sun Apr 13 20:38:57 +0000 2025
Rekt - Liquidated Short On ETH-USDT
Buy $329.75K @ $1587.07
#cryptocurrency #blockchain #ethereum #btc #forex #trading #money #cryptotrading #stock - Sun Apr 13 20:38:46 +0000 2025
parham zarrin - #OM Mantra dropped 90% in just 5 minutes. I was about to open a short when it broke the $6 support, but I hesitated ‚Äî thought it was a fakeout... turns out it wasn‚Äôt! ü§£ü§£üò≠üò≠üò≠
.
Om hacked.. i think
.
#cryptocurrency #CryptoNews #BTC https://t.co/SdJaqz36VE - Sun Apr 13 20:38:45 +0000 2025

# FOr all of the cryptos

In [7]:
import asyncio
import csv
from twikit import Client

# Your credentials
USERNAME = "your_username"
EMAIL = "your_email"
PASSWORD = "your_password"

# Initialize the Twikit client with a specified locale
client = Client('en-US')

# Define search terms for each cryptocurrency
SEARCH_TERMS = {
    "bitcoin": "bitcoin lang:en",
    "solana": "solana lang:en",
    "ethereum": "ethereum lang:en",
    "cardano": "cardano lang:en"  # Assuming 'cardano' is intended for ADA
}

async def main():
    # Log in using your account credentials.
    # Cookies are saved to 'cookies.json' for future sessions.
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    # For each cryptocurrency, search for tweets and save to CSV
    for coin, query in SEARCH_TERMS.items():
        # Perform the search using the "Latest" tweets tab
        tweets = await client.search_tweet(query, "Latest")
        
        # Save results to a CSV file
        csv_filename = f"{coin}_tweets.csv"
        with open(csv_filename, 'w', newline='', encoding='utf-8') as f:
            header = ['Username', 'Text', 'Created_at', 'Tweet_ID']
            writer = csv.DictWriter(f, fieldnames=header)
            writer.writeheader()
            for tweet in tweets:
                writer.writerow({
                    "Username": tweet.user.name,
                    "Text": tweet.text,
                    "Created_at": tweet.created_at,
                    "Tweet_ID": tweet.id
                })
        print(f"Saved {len(tweets)} tweets for {coin} to '{csv_filename}'.")

# Run the main async function
await main()

Saved 12 tweets for bitcoin to 'bitcoin_tweets.csv'.
Saved 11 tweets for solana to 'solana_tweets.csv'.
Saved 11 tweets for ethereum to 'ethereum_tweets.csv'.
Saved 18 tweets for cardano to 'cardano_tweets.csv'.

In [8]:
import asyncio
import pandas as pd
from twikit import Client

# Your credentials (for testing; consider using environment variables for production)
USERNAME = "your_username"
EMAIL = "your_email"
PASSWORD = "your_password"

# Initialize the Twikit client with locale 'en-US'
client = Client('en-US')

async def main():
    # Log in using your account credentials; cookies are saved to 'cookies.json'
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    # Define your search term
    search_term = "cryptocurrency"
    
    # Retrieve tweets from the "Latest" tab
    tweets = await client.search_tweet(search_term, "Latest")
    
    # Process the tweets into a list of dictionaries
    tweet_list = []
    for tweet in tweets:
        # Get the handle from 'username' if available, or 'screen_name' otherwise.
        handle = getattr(tweet.user, 'username', None)
        if handle is None:
            handle = getattr(tweet.user, 'screen_name', None)
            
        tweet_list.append({
            "Username": tweet.user.name,
            "Handle": handle,
            "Text": tweet.text,
            "Created_at": tweet.created_at,
            "Tweet_ID": tweet.id
        })
    
    # Create and return a DataFrame from the tweet list
    df = pd.DataFrame(tweet_list)
    return df

# In a notebook, use 'await main()' directly (after applying nest_asyncio).
df_tweets = await main()
print("DataFrame of retrieved tweets:")
display(df_tweets.head())

DataFrame of retrieved tweets:

,Username,Handle,Text,Created_at,Tweet_ID
0,Globalia Jive News,meme223620679,"„Äå""A joke wrapped in volatility"": \n„ÄÄFartcoin s...",Sun Apr 13 20:39:31 +0000 2025,1911519641488544022
1,Rekt,MarketRekt,üí• Double Kill For ETH üí•\nüí• Buy $329.75K @ $158...,Sun Apr 13 20:39:19 +0000 2025,1911519590145831176
2,–ê–π—è,AiyaAng,"@BOA_0000 ‚ú® Sorry, I only accept airdrops from...",Sun Apr 13 20:38:57 +0000 2025,1911519499872047444
3,Rekt,MarketRekt,Liquidated Short On ETH-USDT\nBuy $329.75K @ $...,Sun Apr 13 20:38:46 +0000 2025,1911519452979429672
4,parham zarrin,parhamzarrin,#OM Mantra dropped 90% in just 5 minutes. I wa...,Sun Apr 13 20:38:45 +0000 2025,1911519448780988611

In [9]:
import asyncio
import pandas as pd
from twikit import Client

# Your credentials
USERNAME = "your_username"
EMAIL = "your_email"
PASSWORD = "your_password"

# Initialize the Twikit client with a specified locale
client = Client('en-US')

# Define search terms for each cryptocurrency
SEARCH_TERMS = {
    "bitcoin": "bitcoin lang:en",
    "solana": "solana lang:en",
    "ethereum": "ethereum lang:en",
    "cardano": "cardano lang:en"  # Assuming 'cardano' is intended for ADA
}

async def main():
    # Log in using your account credentials.
    # Cookies are saved to 'cookies.json' for future sessions.
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    # Create an empty dictionary to hold DataFrames for each coin
    dfs = {}
    
    # For each cryptocurrency, search for tweets and store the results in a DataFrame
    for coin, query in SEARCH_TERMS.items():
        # Perform the search using the "Latest" tweets tab
        tweets = await client.search_tweet(query, "Latest")
        
        tweet_list = []
        for tweet in tweets:
            tweet_list.append({
                "Username": tweet.user.name,
                "Text": tweet.text,
                "Created_at": tweet.created_at,
                "Tweet_ID": tweet.id
            })
            
        # Create a DataFrame for the current coin and store it in the dictionary
        dfs[coin] = pd.DataFrame(tweet_list)
        print(f"Retrieved {len(tweet_list)} tweets for {coin}.")
    
    return dfs

# Run the main async function and store the DataFrames in the dictionary "dfs"
# Note: In a notebook, you might need to use nest_asyncio to avoid event loop issues.
import nest_asyncio
nest_asyncio.apply()
import asyncio
# Run the main async function
dfs = asyncio.run(main())

# Display a preview of the DataFrame for each cryptocurrency
for coin, df in dfs.items():
    print(f"\nData for {coin}:")
    display(df.head())

Retrieved 12 tweets for bitcoin.
Retrieved 11 tweets for solana.
Retrieved 14 tweets for ethereum.
Retrieved 18 tweets for cardano.

Data for bitcoin:

,Username,Text,Created_at,Tweet_ID
0,Michael Walter,üå† #XRP #Ripple $XRP is climbing fast! Hold s...,Sun Apr 13 20:39:46 +0000 2025,1911519702674714741
1,Satoshinagonnaworkhereanymoreanyway,@lukebelmar Bitcoin\n\nOnly https://t.co/SmaMk...,Sun Apr 13 20:39:45 +0000 2025,1911519698383942054
2,iNewsBTC,Bitcoin rallies amid macroeconomic concerns ‚Äî ...,Sun Apr 13 20:39:41 +0000 2025,1911519683351552024
3,Bitcoin Orange Pill ‚ö°üü†,You know someone doesn't understand Bitcoin wh...,Sun Apr 13 20:39:41 +0000 2025,1911519682710176018
4,Isabell üá∫üá≤,What‚Äôs the bigger win for America?\n\n‚Ä¢ Trump ...,Sun Apr 13 20:39:40 +0000 2025,1911519679656706137

Data for solana:

,Username,Text,Created_at,Tweet_ID
0,robinho.eth,"Solana, right from the top guys at Solana fdn,...",Sun Apr 13 20:39:47 +0000 2025,1911519708043514008
1,Tate,@pepi_on_solana When Tg community?,Sun Apr 13 20:39:45 +0000 2025,1911519699676061980
2,Mellow,@KingAnt777 If it's on Solana \n\nIt's bullish,Sun Apr 13 20:39:41 +0000 2025,1911519681564811694
3,Clayno.club Bot,Claynosaurz #9690 has sold!\n\nüõí Price: 14.94 ...,Sun Apr 13 20:39:41 +0000 2025,1911519681430630521
4,Swaggy,@0xRamonos feeling nostalgish? help out bra,Sun Apr 13 20:39:40 +0000 2025,1911519678587109767

Data for ethereum:

,Username,Text,Created_at,Tweet_ID
0,robinho.eth,"Solana, right from the top guys at Solana fdn,...",Sun Apr 13 20:39:47 +0000 2025,1911519708043514008
1,Rekt,Liquidated Long On BTCUSDT\nSell $150.50K @ $8...,Sun Apr 13 20:39:46 +0000 2025,1911519704365097011
2,by movement,"Without any apparent reason, the $OM token, ra...",Sun Apr 13 20:39:46 +0000 2025,1911519703178363311
3,andrea,@Web3Kristel The next ethereum upgrade will fi...,Sun Apr 13 20:39:44 +0000 2025,1911519696127701356
4,The C Man,@WatcherGuru Is Ethereum made of rare earth mi...,Sun Apr 13 20:39:30 +0000 2025,1911519635842753022

Data for cardano:

,Username,Text,Created_at,Tweet_ID
0,Alex Lagi,@lilybrodi $STUFF (you already know all about ...,Sun Apr 13 20:38:38 +0000 2025,1911519419475321059
1,Crypto C‚Ç≥rdano,@cb_doge Trump destroyed the @dnc,Sun Apr 13 20:38:01 +0000 2025,1911519262973231322
2,SKULLIANCE,@TheBillyMartin @NintendoAmerica We love gamin...,Sun Apr 13 20:37:26 +0000 2025,1911519117447733709
3,Alex Lagi,@realCryptoChef That's why you should have cho...,Sun Apr 13 20:35:42 +0000 2025,1911518679495307641
4,DOGE AGENTS 227 üïµÔ∏è,1 A: Bitcoin was created by Satoshi \n\n2 B:...,Sun Apr 13 20:35:19 +0000 2025,1911518584158769377

# Specific Accounts:

In [10]:
import asyncio
import pandas as pd
from twikit import Client
from transformers import pipeline
import nest_asyncio

# Apply nest_asyncio to allow nested event loops (required in Jupyter)
nest_asyncio.apply()

# --- Credentials (for testing only) ---
USERNAME = "your_username"
EMAIL = "your_email"
PASSWORD = "your_password"

# --- Initialize the Client ---
client = Client('en-US')

# --- Define the list of influential crypto accounts ---
# These are some of the commonly referenced accounts in the crypto space.
# Adjust or add/remove accounts as desired.
ACCOUNTS = {
    "ElonMusk": "elonmusk",
    "VitalikButerin": "VitalikButerin",
    "CZ": "cz_binance",
    "MichaelSaylor": "saylor",
    "Antonopoulos": "aantonop",
    "APompliano": "APompliano",
    "PlanB": "100trillionUSD",
    "WhalePanda": "WhalePanda",
    "WillyWoo": "woonomic",
    "LayahHeilpern": "LayahHeilpern",
    "NickSzabo": "nickszabo4",  # Use an approximate handle; adjust if needed
    "Balajis": "balajis",
    "ErikVoorhees": "ErikVoorhees",
    "Winklevoss1": "cameron",
    "Winklevoss2": "tyler",
    "RaoulPal": "RaoulGMI",
    "ToneVays": "ToneVays",
    "CaitlinLong": "CaitlinLong_",
    "JimmySong": "jimmysong",
    "CryptoHayes": "CryptoHayes",
    "RogerVer": "rogerkver",                  #// Early Bitcoin investor, Bitcoin Cash advocate  
    "CharlieLee": "SatoshiLite",              #// Creator of Litecoin  
    "MarcAndreessen": "pmarca",               #// Co-founder of Andreessen Horowitz (a16z)  
    "BrianArmstrong": "brian_armstrong",      #// CEO of Coinbase  
    "CryptoWendyO": "CryptoWendyO",           #// Crypto trader & technical analyst  
    "ScottMelker": "scottmelker",             #// Trader & host of "The Wolf of All Streets" podcast  
    "NayibBukele": "nayibbukele",             #// President of El Salvador (Bitcoin legal tender)  
    "LeaThompson": "girlgone_crypto",         #// Crypto educator ("Girl Gone Crypto")  
    "BenjaminCowen": "intocryptoverse",       #// Quantitative analyst (Into The Cryptoverse)  
    "MikeNovogratz": "novogratz",             #// CEO of Galaxy Digital  
    "TimDraper": "TimDraper",                 #// Venture capitalist (Bitcoin investor)  
    "CamilaRusso": "CamiRusso",               #// Founder of The Defiant (DeFi news)  
    "LarkDavis": "TheCryptoLark",             #// Crypto YouTuber & educator  
    "DanHeld": "danheld",                     #// Growth lead at Kraken, Bitcoin advocate  
    "PierreRochard": "pierre_rochard",        #// Bitcoin mining strategist (Riot Platforms)  
    "IvanOnTech": "IvanOnTech",               #// Blockchain educator & developer  
    "GaborGurbacs": "gaborgurbacs",           #// ETF strategist (VanEck)  
    "NicCarter": "nic__carter",               #// Bitcoin historian (Castle Island Ventures)  
    "LindaXie": "ljxie"                       #// Co-founder of Scalar Capital (DeFi)  
}

# --- Define cryptocurrency-related keywords for filtering ---
CRYPTO_KEYWORDS = ['crypto', 'bitcoin', 'ethereum', 'solana', 'cardano', 'blockchain']

def contains_crypto_keywords(text):
    """Return True if the tweet text contains any cryptocurrency keywords (case-insensitive)."""
    lower_text = text.lower()
    return any(keyword in lower_text for keyword in CRYPTO_KEYWORDS)

# --- Initialize the Hugging Face sentiment pipeline ---
sentiment_pipeline = pipeline("sentiment-analysis", model="distilbert-base-uncased-finetuned-sst-2-english")

def analyze_sentiment(text):
    """
    Analyze sentiment for the provided tweet text.
    Returns a tuple: (sentiment_label, sentiment_score)
    """
    result = sentiment_pipeline(text)
    return result[0]["label"], result[0]["score"]

async def main():
    # Log in to X using your credentials; cookies are saved to 'cookies.json'
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    account_data = {}  # Dictionary to hold DataFrames for each account
    
    # Loop over each account defined in ACCOUNTS
    for label, screen_name in ACCOUNTS.items():
        try:
            # Retrieve user info using get_user_by_screen_name
            user_obj = await client.get_user_by_screen_name(screen_name)
        except Exception as e:
            print(f"Error retrieving user info for {screen_name}: {e}")
            continue

        if not user_obj:
            print(f"Unable to fetch user info for {screen_name}. Skipping...")
            continue

        # Retrieve tweets for the account (from the "Tweets" tab)
        tweets_generator = await client.get_user_tweets(user_obj.id, "Tweets")
        # Convert generator to a list and pick first 50 tweets
        tweets = list(tweets_generator)[:10] # Adjust the number of tweets as needed
        
        tweet_list = []
        for tweet in tweets:
            # Optional: Filter tweets that mention cryptocurrency keywords.
            # Remove this check if you want all tweets.
            if not contains_crypto_keywords(tweet.text):
                continue
            # Get handle from user object (attempt attribute "username" then fallback to "screen_name")
            handle = getattr(tweet.user, "username", None) or getattr(tweet.user, "screen_name", None)
            # Convert created_at to a Pandas Timestamp
            created_at = pd.to_datetime(tweet.created_at)
            # Run sentiment analysis on tweet text
            sentiment_label, sentiment_score = analyze_sentiment(tweet.text)
            tweet_list.append({
                "Username": tweet.user.name,
                "Handle": handle,
                "Text": tweet.text,
                "Created_at": created_at,
                "Tweet_ID": tweet.id,
                "Sentiment_Label": sentiment_label,
                "Sentiment_Score": sentiment_score
            })
        
        # Convert list of tweets to a DataFrame for this account
        df = pd.DataFrame(tweet_list)
        account_data[label] = df
        print(f"Retrieved {len(tweet_list)} tweets for {screen_name} (filtered & sentiment analyzed).")
    
    return account_data

# Run the main async function and get the results in a dictionary of DataFrames
dfs = await main()

# Display a preview of each DataFrame
for label, df in dfs.items():
    print(f"\nTweets for {label}:")
    display(df.head())

Device set to use mps:0

Retrieved 0 tweets for elonmusk (filtered & sentiment analyzed).
Retrieved 3 tweets for VitalikButerin (filtered & sentiment analyzed).
Error retrieving user info for cz_binance:
Retrieved 4 tweets for saylor (filtered & sentiment analyzed).
Retrieved 8 tweets for aantonop (filtered & sentiment analyzed).
Retrieved 1 tweets for APompliano (filtered & sentiment analyzed).
Retrieved 7 tweets for 100trillionUSD (filtered & sentiment analyzed).
Retrieved 0 tweets for WhalePanda (filtered & sentiment analyzed).
Retrieved 0 tweets for woonomic (filtered & sentiment analyzed).
Retrieved 5 tweets for LayahHeilpern (filtered & sentiment analyzed).
Retrieved 2 tweets for nickszabo4 (filtered & sentiment analyzed).
Retrieved 0 tweets for balajis (filtered & sentiment analyzed).
Retrieved 1 tweets for ErikVoorhees (filtered & sentiment analyzed).
Retrieved 0 tweets for cameron (filtered & sentiment analyzed).
Retrieved 1 tweets for tyler (filtered & sentiment analyzed).
Retrieved 1 tweets for RaoulGMI (filtered & sentiment analyzed).
Retrieved 3 tweets for ToneVays (filtered & sentiment analyzed).
Retrieved 1 tweets for CaitlinLong_ (filtered & sentiment analyzed).
Retrieved 4 tweets for jimmysong (filtered & sentiment analyzed).
Retrieved 0 tweets for CryptoHayes (filtered & sentiment analyzed).
Retrieved 4 tweets for rogerkver (filtered & sentiment analyzed).
Retrieved 3 tweets for SatoshiLite (filtered & sentiment analyzed).
Retrieved 0 tweets for pmarca (filtered & sentiment analyzed).
Retrieved 1 tweets for brian_armstrong (filtered & sentiment analyzed).
Retrieved 3 tweets for CryptoWendyO (filtered & sentiment analyzed).
Retrieved 2 tweets for scottmelker (filtered & sentiment analyzed).
Retrieved 0 tweets for nayibbukele (filtered & sentiment analyzed).
Retrieved 5 tweets for girlgone_crypto (filtered & sentiment analyzed).
Retrieved 2 tweets for intocryptoverse (filtered & sentiment analyzed).
Retrieved 0 tweets for novogratz (filtered & sentiment analyzed).
Retrieved 2 tweets for TimDraper (filtered & sentiment analyzed).
Retrieved 4 tweets for CamiRusso (filtered & sentiment analyzed).
Retrieved 8 tweets for TheCryptoLark (filtered & sentiment analyzed).
Retrieved 4 tweets for danheld (filtered & sentiment analyzed).
Error retrieving user info for pierre_rochard: User is suspended
Retrieved 4 tweets for IvanOnTech (filtered & sentiment analyzed).
Retrieved 1 tweets for gaborgurbacs (filtered & sentiment analyzed).
Retrieved 1 tweets for nic__carter (filtered & sentiment analyzed).
Retrieved 1 tweets for ljxie (filtered & sentiment analyzed).

Tweets for ElonMusk:

Empty DataFrame
Columns: []
Index: []

Tweets for VitalikButerin:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,vitalik.eth,VitalikButerin,RT @ethereum: 0/ You‚Äôve probably heard people ...,2025-04-12 02:06:23+00:00,1910877125185523915,NEGATIVE,0.988044
1,vitalik.eth,VitalikButerin,RT @TimBeiko: Reconfiguring AllCoreDevs \n\nTo...,2025-04-04 00:40:18+00:00,1907956357166497854,NEGATIVE,0.993431
2,vitalik.eth,VitalikButerin,RT @drakefjustin: bullish ethereum\n\ncongrats...,2025-03-01 15:23:54+00:00,1895857535221186575,NEGATIVE,0.990834

Tweets for MichaelSaylor:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Michael Saylor,saylor,In the beginning was the Bitcoin. Then came th...,2025-04-11 20:01:40+00:00,1910785341428019459,NEGATIVE,0.996656
1,Michael Saylor,saylor,Bitcoin is powered by Chaos.,2025-04-10 17:00:55+00:00,1910377465559867689,NEGATIVE,0.978095
2,Michael Saylor,saylor,Bitcoin is the Best Idea. There is no Second B...,2025-04-09 17:28:22+00:00,1910021985897230791,NEGATIVE,0.904504
3,Michael Saylor,saylor,Bitcoin is Digital Gold https://t.co/FkE0Ynm8KC,2025-04-08 12:32:51+00:00,1909585228479217966,POSITIVE,0.885482

Tweets for Antonopoulos:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Andreas (aantonop Team),aantonop,Today I interviewed Kirk David Phillips CPA\nC...,2024-12-15 21:34:01+00:00,1868409198846804078,NEGATIVE,0.973558
1,Andreas (aantonop Team),aantonop,"Despite the clickbait headlines, the halving i...",2024-04-16 23:28:04+00:00,1780377650625945683,NEGATIVE,0.998268
2,Andreas (aantonop Team),aantonop,ICYMI https://t.co/cB5i0ozYqC \n...,2024-04-16 16:55:45+00:00,1780278921227010076,NEGATIVE,0.997640
3,Andreas (aantonop Team),aantonop,My latest video: Bitcoin Halving 2024. What to...,2024-04-15 23:28:03+00:00,1780015259346202833,NEGATIVE,0.987322
4,Andreas (aantonop Team),aantonop,Videos to Learn How Bitcoin and Open Blockchai...,2024-02-29 21:52:57+00:00,1763321484859027665,NEGATIVE,0.956666

Tweets for APompliano:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Anthony Pompliano üå™,APompliano,The financial system broke over the last two w...,2025-04-12 16:45:19+00:00,1911098315397124495,POSITIVE,0.998822

Tweets for PlanB:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,PlanB,100trillionUSD,After 200 week moving average (black line) tou...,2025-04-09 18:26:48+00:00,1910036689327653148,NEGATIVE,0.976960
1,PlanB,100trillionUSD,üî•@Grok: I've analyzed all tweets from the X ac...,2025-04-08 12:36:02+00:00,1909586030925324557,NEGATIVE,0.992344
2,PlanB,100trillionUSD,üî¥Even with today's low bitcoin prices my on-ch...,2025-04-08 09:45:44+00:00,1909543173841354778,NEGATIVE,0.998421
3,PlanB,100trillionUSD,Stock market down = bitcoin down.\nThis positi...,2025-04-07 09:36:20+00:00,1909178419348136046,NEGATIVE,0.996563
4,PlanB,100trillionUSD,New video on YouTube!\nInteresting correlation...,2025-04-06 16:28:36+00:00,1908919782054707482,POSITIVE,0.763816

Tweets for WhalePanda:

Empty DataFrame
Columns: []
Index: []

Tweets for WillyWoo:

Empty DataFrame
Columns: []
Index: []

Tweets for LayahHeilpern:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Layah Heilpern,LayahHeilpern,Bitcoin doesn't care about tariff wars.\n\nWel...,2025-04-12 14:42:31+00:00,1911067411794526611,NEGATIVE,0.998084
1,Layah Heilpern,LayahHeilpern,Solana at $120 last week: It‚Äôs so over \n\nSol...,2025-04-11 18:38:08+00:00,1910764318846603313,NEGATIVE,0.783896
2,Layah Heilpern,LayahHeilpern,"Bitcoin reclaims $83,000.\n\nImagine thinking ...",2025-04-11 13:42:29+00:00,1910689914695397586,NEGATIVE,0.893879
3,Layah Heilpern,LayahHeilpern,It's not called the trenches for nothing.\n\nC...,2025-04-11 13:21:51+00:00,1910684724827168991,NEGATIVE,0.675291
4,Layah Heilpern,LayahHeilpern,Live footage of everyone in crypto rn https://...,2025-04-10 13:07:58+00:00,1910318841177018383,NEGATIVE,0.989144

Tweets for NickSzabo:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Nick Szabo,NickSzabo4,RT @AfriCryptoklap: @NickSzabo4 @EricaJoy She ...,2021-03-02 17:13:56+00:00,1366798942579482624,NEGATIVE,0.999639
1,Nick Szabo,NickSzabo4,RT @NickSzabo4: @CryptoTickler @Johnny_Banco @...,2021-03-02 16:56:52+00:00,1366794648996384771,NEGATIVE,0.995624

Tweets for Balajis:

Empty DataFrame
Columns: []
Index: []

Tweets for ErikVoorhees:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Erik Voorhees,ErikVoorhees,I would not have predicted a bunch of Bitcoine...,2025-04-07 03:39:14+00:00,1909088552115229041,NEGATIVE,0.993109

Tweets for Winklevoss1:

Empty DataFrame
Columns: []
Index: []

Tweets for Winklevoss2:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Tyler Winklevoss,tyler,Earning 4% back in bitcoin at the ‚õΩÔ∏è with the ...,2025-04-12 23:00:43+00:00,1911192787543793872,POSITIVE,0.973953

Tweets for RaoulPal:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Raoul Pal,RaoulGMI,It is time for your weekly crypto setup!,2025-04-11 15:32:16+00:00,1910717541917372624,NEGATIVE,0.99878

Tweets for ToneVays:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Tone Vays,ToneVays,RT @unconfiscatable: Not only is it just one B...,2025-03-06 05:28:39+00:00,1897519673479970855,NEGATIVE,0.999713
1,Tone Vays,ToneVays,RT @MissBitcoin_sv: I want to go back to Roata...,2025-03-03 16:14:47+00:00,1896595115009028414,POSITIVE,0.996054
2,Tone Vays,ToneVays,I'm on the commentary desk ! @AlphanumetriX &a...,2025-03-01 02:14:12+00:00,1895658802915262640,NEGATIVE,0.984844

Tweets for CaitlinLong:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Caitlin Long üîë‚ö°Ô∏èüü†,CaitlinLong_,RT @lopp: What is a Bitcoin address poisoning ...,2025-04-12 14:33:53+00:00,1911065240856314281,NEGATIVE,0.999293

Tweets for JimmySong:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Jimmy Song (ÏÜ°Ïû¨Ï§Ä),jimmysong,Funny how the narrative about Bitcoin using to...,2025-04-11 15:09:56+00:00,1910711922388840885,NEGATIVE,0.997306
1,Jimmy Song (ÏÜ°Ïû¨Ï§Ä),jimmysong,RT @AustinBTCclub: üö® SPEAKING THIS WEEKEND: @j...,2025-04-09 20:54:56+00:00,1910073970398810260,POSITIVE,0.999166
2,Jimmy Song (ÏÜ°Ïû¨Ï§Ä),jimmysong,I'm waiting for the first story about how some...,2025-04-07 20:06:11+00:00,1909336925728555191,NEGATIVE,0.998470
3,Jimmy Song (ÏÜ°Ïû¨Ï§Ä),jimmysong,Free issue for the first Monday of the month!\...,2025-04-07 14:11:53+00:00,1909247763310588272,NEGATIVE,0.996394

Tweets for CryptoHayes:

Empty DataFrame
Columns: []
Index: []

Tweets for RogerVer:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Roger Ver,rogerkver,RT @maplesyrupsuckr: Private token meta is beg...,2025-04-12 17:16:03+00:00,1911106047806239048,NEGATIVE,0.998959
1,Roger Ver,rogerkver,I've always known I'd be targeted politically ...,2025-03-01 19:37:59+00:00,1895921477163143327,NEGATIVE,0.985382
2,Roger Ver,rogerkver,‚ÄòBitcoin Jesus‚Äô Roger Ver Asks Trump to End La...,2025-02-12 16:00:31+00:00,1889706157905944714,NEGATIVE,0.983601
3,Roger Ver,rogerkver,RT @RealAlexJones: Bitcoin Jesus Aka Roger Ver...,2025-02-12 12:30:01+00:00,1889653182873149651,NEGATIVE,0.991350

Tweets for CharlieLee:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Charlie Lee ‚ìÇÔ∏èüï∏Ô∏è,SatoshiLite,RT @litecoin: Litecoin Summit 2025 in Vegas. \...,2025-04-10 01:03:47+00:00,1910136593152974923,POSITIVE,0.801409
1,Charlie Lee ‚ìÇÔ∏èüï∏Ô∏è,SatoshiLite,RT @UltimateCrypto7: CHAMPIONSHIP GAME ü•á of th...,2025-04-05 20:43:08+00:00,1908621449830818012,NEGATIVE,0.998272
2,Charlie Lee ‚ìÇÔ∏èüï∏Ô∏è,SatoshiLite,RT @UltimateCrypto7: Elite 8 of the 2025 #Ulti...,2025-03-30 09:13:57+00:00,1906273683620114941,NEGATIVE,0.997283

Tweets for MarcAndreessen:

Empty DataFrame
Columns: []
Index: []

Tweets for BrianArmstrong:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Brian Armstrong,brian_armstrong,"StandWithCrypto has gone global - now in UK, A...",2025-04-12 00:57:52+00:00,1910859882065961117,POSITIVE,0.50573

Tweets for CryptoWendyO:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Wendy O,CryptoWendyO,JOIN ME LIVE NOW TO DISCUSS:\n\nNEW Ethereum U...,2025-04-13 17:14:41+00:00,1911468091537867203,POSITIVE,0.820317
1,Wendy O,CryptoWendyO,President of El Salvador arrives in America to...,2025-04-13 16:06:28+00:00,1911450928202547463,POSITIVE,0.798065
2,Wendy O,CryptoWendyO,Me after Trump pumps Ethereum https://t.co/E6...,2025-04-13 03:12:24+00:00,1911256125829513547,NEGATIVE,0.982100

Tweets for ScottMelker:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,The Wolf Of All Streets,scottmelker,SENATE BANKING COMMITTEE CHAIRMAN TIM SCOTT EX...,2025-04-13 20:38:29+00:00,1911519379591741772,NEGATIVE,0.999219
1,The Wolf Of All Streets,scottmelker,RT @Ajwritescrypto: Just caught up with my fri...,2025-04-13 17:15:08+00:00,1911468205929058741,NEGATIVE,0.997602

Tweets for NayibBukele:

Empty DataFrame
Columns: []
Index: []

Tweets for LeaThompson:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Girl Gone Crypto,girlgone_crypto,It‚Äôs been another crazy week! üòù\n\nFrom all th...,2025-04-11 17:02:16+00:00,1910740193323487370,POSITIVE,0.519240
1,Girl Gone Crypto,girlgone_crypto,We‚Äôre back with another Crypto Minute! ‚è∞ \n\nF...,2025-04-04 20:59:16+00:00,1908263119392248222,NEGATIVE,0.996026
2,Girl Gone Crypto,girlgone_crypto,Never a boring week around here! üòú\n\nFrom Coi...,2025-03-15 17:47:59+00:00,1900967225944928733,NEGATIVE,0.990774
3,Girl Gone Crypto,girlgone_crypto,Another crazy week around here! üòú\n\nFrom Trum...,2025-03-07 22:15:27+00:00,1898135432724201741,NEGATIVE,0.978277
4,Girl Gone Crypto,girlgone_crypto,Imagine still fading Bitcoin when the Presiden...,2025-03-07 02:59:59+00:00,1897844650574221457,NEGATIVE,0.990636

Tweets for BenjaminCowen:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Benjamin Cowen,intocryptoverse,Can Ethereum also be excluded from tariffs,2025-04-12 13:04:40+00:00,1911042786331075034,NEGATIVE,0.790301
1,Benjamin Cowen,intocryptoverse,RT @ITC_Crypto: The FREE ITC Friday Newsletter...,2025-04-12 00:01:08+00:00,1910845604760047851,NEGATIVE,0.941723

Tweets for MikeNovogratz:

Empty DataFrame
Columns: []
Index: []

Tweets for TimDraper:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Tim Draper,TimDraper,We were among the first to believe in Bitcoin ...,2025-04-11 14:09:04+00:00,1910696607265546642,POSITIVE,0.782246
1,Tim Draper,TimDraper,Interviews with high schoolers are always inte...,2025-03-27 23:49:39+00:00,1905406894690501001,POSITIVE,0.995113

Tweets for CamilaRusso:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Camila Russo,CamiRusso,What are the biggest or most interesting unsol...,2025-04-09 02:06:36+00:00,1909790015623754138,NEGATIVE,0.949855
1,Camila Russo,CamiRusso,At the heart of any Ethereum value discussion ...,2025-03-20 22:23:38+00:00,1902848534073811339,POSITIVE,0.998866
2,Camila Russo,CamiRusso,"RT @CryptoISFreedom: @CamiRusso nails it here,...",2025-03-18 17:10:17+00:00,1902044901153378784,NEGATIVE,0.983892
3,Camila Russo,CamiRusso,This new L1 Converge maybe makes sense for Eth...,2025-03-17 20:09:05+00:00,1901727511194583265,POSITIVE,0.997132

Tweets for LarkDavis:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Lark Davis,TheCryptoLark,"10 years from now, owning 1 $BTC would make yo...",2025-04-13 19:56:08+00:00,1911508723870146810,POSITIVE,0.881304
1,Lark Davis,TheCryptoLark,RT @TheCryptoLark: HODL tight. https://t.co/AI...,2025-04-13 19:40:09+00:00,1911504700240777455,NEGATIVE,0.998162
2,Lark Davis,TheCryptoLark,RT @TheCryptoLark: Are we on the cusp of a big...,2025-04-13 19:00:10+00:00,1911494638290063418,NEGATIVE,0.996801
3,Lark Davis,TheCryptoLark,Crypto bros only want one thing \n\nAnd that i...,2025-04-13 18:46:40+00:00,1911491242367557852,NEGATIVE,0.998657
4,Lark Davis,TheCryptoLark,RT @TheCryptoLark: What's that ONE coin that e...,2025-04-13 18:40:10+00:00,1911489605754376634,NEGATIVE,0.996716

Tweets for DanHeld:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Dan Held,danheld,RT @StarkWareLtd: Amazing work from one of the...,2025-04-12 04:04:35+00:00,1910906870279053347,POSITIVE,0.998900
1,Dan Held,danheld,It‚Äôs in these bearish moments where you might ...,2025-04-11 14:15:49+00:00,1910698302959387101,POSITIVE,0.993024
2,Dan Held,danheld,On this Bitcoin journey you will see:\n\n- 20-...,2025-04-10 17:20:18+00:00,1910382345149890981,NEGATIVE,0.997695
3,Dan Held,danheld,Over the last 11 years I‚Äôve seen so much FUD c...,2025-04-09 15:21:07+00:00,1909989962222645300,POSITIVE,0.994504

Tweets for IvanOnTech:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Ivan on Tech üç≥Cooking @ Moralis,IvanOnTech,RT @BTC_Archive: üá∫üá∏ SENATOR LUMMIS: Buying 1m...,2025-04-13 16:52:31+00:00,1911462513276838399,NEGATIVE,0.991203
1,Ivan on Tech üç≥Cooking @ Moralis,IvanOnTech,RT @Vivek4real_: Michael Saylor says #Bitcoin ...,2025-04-13 16:41:15+00:00,1911459680913588383,POSITIVE,0.999046
2,Ivan on Tech üç≥Cooking @ Moralis,IvanOnTech,RT @AltcoinDailyio: Senate Banking Chair Tim S...,2025-04-13 11:18:39+00:00,1911378494514176205,NEGATIVE,0.982382
3,Ivan on Tech üç≥Cooking @ Moralis,IvanOnTech,RT @pete_rizzo_: BREAKING: DONALD TRUMP AND HI...,2025-04-12 14:57:18+00:00,1911071131873800579,POSITIVE,0.977145

Tweets for GaborGurbacs:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Gabor Gurbacs,gaborgurbacs,We won. Never gave up. #Bitcoin #ETF https://t...,2024-01-10 21:43:48+00:00,1745199789661163976,POSITIVE,0.994888

Tweets for NicCarter:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,nic carter,nic__carter,Sat down with @alexeiZamyatin of @build_on_bob...,2025-04-10 15:28:47+00:00,1910354279237370033,NEGATIVE,0.990256

Tweets for LindaXie:

,Username,Handle,Text,Created_at,Tweet_ID,Sentiment_Label,Sentiment_Score
0,Linda Xie,ljxie,"RT @EthereumFilm: ""Crypto is often framed thro...",2025-04-12 16:14:18+00:00,1911090508970983464,POSITIVE,0.983117

# Specific Trump / Elon Tweets

In [11]:
import asyncio
import pandas as pd
from twikit import Client
from transformers import pipeline

# Apply nest_asyncio to allow nested event loops in Jupyter
import nest_asyncio
nest_asyncio.apply()

# --- Credentials (for testing only) ---
USERNAME = "your_username"
EMAIL = "your_email"
PASSWORD = "your_password"

# --- Initialize the Client ---
client = Client('en-US')

# --- Define the list of influential crypto accounts ---
ACCOUNTS = {
    "ElonMusk": "elonmusk",
    "VitalikButerin": "VitalikButerin",
    "CZ": "cz_binance",
    "MichaelSaylor": "saylor",
    "Antonopoulos": "aantonop",
    "APompliano": "APompliano",
    "PlanB": "100trillionUSD",
    "WhalePanda": "WhalePanda",
    "WillyWoo": "woonomic",
    "LayahHeilpern": "LayahHeilpern",
    "NickSzabo": "nickszabo4",
    "Balajis": "balajis",
    "ErikVoorhees": "ErikVoorhees",
    "Winklevoss1": "cameron",
    "Winklevoss2": "tyler",
    "RaoulPal": "RaoulGMI",
    "ToneVays": "ToneVays",
    "CaitlinLong": "CaitlinLong_",
    "JimmySong": "jimmysong",
    "CryptoHayes": "CryptoHayes",
    "RogerVer": "rogerkver",
    "CharlieLee": "SatoshiLite",
    "MarcAndreessen": "pmarca",
    "BrianArmstrong": "brian_armstrong",
    "CryptoWendyO": "CryptoWendyO",
    "ScottMelker": "scottmelker",
    "NayibBukele": "nayibbukele",
    "LeaThompson": "girlgone_crypto",
    "BenjaminCowen": "intocryptoverse",
    "MikeNovogratz": "novogratz",
    "TimDraper": "TimDraper",
    "CamilaRusso": "CamiRusso",
    "LarkDavis": "TheCryptoLark",
    "DanHeld": "danheld",
    "PierreRochard": "pierre_rochard",
    "IvanOnTech": "IvanOnTech",
    "GaborGurbacs": "gaborgurbacs",
    "NicCarter": "nic__carter",
    "LindaXie": "ljxie"
}

# --- Define cryptocurrency-related keywords for filtering ---
CRYPTO_KEYWORDS = ['crypto', 'bitcoin', 'ethereum', 'solana', 'cardano', 'blockchain',
                    'sol', 'eth', 'ada', 'btc', 'cryptocurrency', 'defi', 'web3', 'digital currency',
                      'whale', 'bullish', 'bearish', 'hodl', 'dex', 'coinbase', 'binance', 'kraken',
                      'tarrifs', 'recession', 'taxes', 'inflation', 'gold', 'stock', 'ATH','ATL']

def contains_crypto_keywords(text):
    """Return True if the tweet text contains any cryptocurrency keywords (case-insensitive)."""
    return any(keyword in text.lower() for keyword in CRYPTO_KEYWORDS)

# --- Initialize the Hugging Face sentiment pipeline ---
# Using a Twitter-focused model for more accurate sentiment analysis.
sentiment_pipeline = pipeline("sentiment-analysis",
                              model="cardiffnlp/twitter-roberta-base-sentiment",
                              tokenizer="cardiffnlp/twitter-roberta-base-sentiment")

def analyze_sentiment(text):
    """
    Analyze sentiment for the provided tweet text.
    Returns a tuple: (sentiment_label, sentiment_score)
    """
    result = sentiment_pipeline(text)
    return result[0]["label"], result[0]["score"]

async def main():
    # Log in to X using your credentials; cookies are saved to 'cookies.json'
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    account_data = {}  # Dictionary to hold DataFrames for each account
    
    # Process each account defined in ACCOUNTS
    for label, screen_name in ACCOUNTS.items():
        try:
            # Retrieve user information using get_user_by_screen_name
            user_obj = await client.get_user_by_screen_name(screen_name)
        except Exception as e:
            print(f"Error retrieving user info for {screen_name}: {e}")
            continue
        
        if not user_obj:
            print(f"Unable to fetch user info for {screen_name}. Skipping...")
            continue

        # Retrieve all tweets for the account from the "Tweets" tab.
        tweets_generator = await client.get_user_tweets(user_obj.id, "Tweets")
        all_tweets = list(tweets_generator)
        print(f"Total tweets fetched for {screen_name}: {len(all_tweets)}")
        
        # We want to process up to 1000 tweets. Adjust if fewer are available.
        desired_count = min(len(all_tweets), 1000)
        tweet_list = []
        
        # Process tweets in batches of 10 for sentiment analysis.
        for i in range(0, desired_count, 10):
            batch = all_tweets[i:i+10]
            for tweet in batch:
                # Filter tweets (optional) to only include those mentioning crypto
                if not contains_crypto_keywords(tweet.text):
                    continue
                handle = getattr(tweet.user, "username", None) or getattr(tweet.user, "screen_name", None)
                created_at = pd.to_datetime(tweet.created_at)
                sentiment_label, sentiment_score = analyze_sentiment(tweet.text)
                tweet_list.append({
                    "Username": tweet.user.name,
                    "Handle": handle,
                    "Text": tweet.text,
                    "Created_at": created_at,
                    "Tweet_ID": tweet.id,
                    "Sentiment_Label": sentiment_label,
                    "Sentiment_Score": sentiment_score
                })
            # Delay briefly between batches to help avoid rate limits.
            await asyncio.sleep(1)
        
        # Create a DataFrame for this account.
        df = pd.DataFrame(tweet_list)
        account_data[label] = df
        print(f"Processed {len(tweet_list)} filtered tweets for {screen_name} (up to 1000 tweets).")
    
    return account_data

# Run the main async function and store the resulting DataFrames in 'dfs'
dfs = await main()

# Display a preview of each DataFrame
for label, df in dfs.items():
    print(f"\nTweets for {label}:")
    display(df.head())

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
TOKENIZERS_PARALLELISM=(true | false)
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
Device set to use mps:0

Total tweets fetched for elonmusk: 20
Processed 0 filtered tweets for elonmusk (up to 1000 tweets).
Total tweets fetched for VitalikButerin: 18
Processed 6 filtered tweets for VitalikButerin (up to 1000 tweets).
Total tweets fetched for cz_binance: 20
Processed 5 filtered tweets for cz_binance (up to 1000 tweets).
Total tweets fetched for saylor: 20
Processed 13 filtered tweets for saylor (up to 1000 tweets).
Total tweets fetched for aantonop: 19
Processed 11 filtered tweets for aantonop (up to 1000 tweets).
Total tweets fetched for APompliano: 20
Processed 7 filtered tweets for APompliano (up to 1000 tweets).
Total tweets fetched for 100trillionUSD: 19
Processed 12 filtered tweets for 100trillionUSD (up to 1000 tweets).
Total tweets fetched for WhalePanda: 19
Processed 6 filtered tweets for WhalePanda (up to 1000 tweets).
Total tweets fetched for woonomic: 2
Processed 2 filtered tweets for woonomic (up to 1000 tweets).
Total tweets fetched for LayahHeilpern: 15
Processed 7 filtered tweets for LayahHeilpern (up to 1000 tweets).
Total tweets fetched for nickszabo4: 20
Processed 6 filtered tweets for nickszabo4 (up to 1000 tweets).
Total tweets fetched for balajis: 13
Processed 1 filtered tweets for balajis (up to 1000 tweets).
Total tweets fetched for ErikVoorhees: 19
Processed 3 filtered tweets for ErikVoorhees (up to 1000 tweets).

TooManyRequests: status: 429, message: "Rate limit exceeded
"

In [ ]:
import asyncio
import pandas as pd
from twikit import Client
from transformers import pipeline
import nest_asyncio
from twikit.client.client import TooManyRequests

# Apply nest_asyncio to allow nested event loops (required in Jupyter)
nest_asyncio.apply()

# --- Credentials (for testing only) ---
USERNAME = "your_username"
EMAIL = "your_email"
PASSWORD = "your_password"

# --- Initialize the Client ---
client = Client('en-US')

# --- Define the list of influential crypto accounts ---
ACCOUNTS = {
    "ElonMusk": "elonmusk",
    "VitalikButerin": "VitalikButerin",
    "CZ": "cz_binance",
    "MichaelSaylor": "saylor",
    "Antonopoulos": "aantonop",
    "APompliano": "APompliano",
    "PlanB": "100trillionUSD",
    "WhalePanda": "WhalePanda",
    "WillyWoo": "woonomic",
    "LayahHeilpern": "LayahHeilpern",
    "NickSzabo": "nickszabo4",
    "Balajis": "balajis",
    "ErikVoorhees": "ErikVoorhees",
    "Winklevoss1": "cameron",
    "Winklevoss2": "tyler",
    "RaoulPal": "RaoulGMI",
    "ToneVays": "ToneVays",
    "CaitlinLong": "CaitlinLong_",
    "JimmySong": "jimmysong",
    "CryptoHayes": "CryptoHayes",
    "RogerVer": "rogerkver",
    "CharlieLee": "SatoshiLite",
    "MarcAndreessen": "pmarca",
    "BrianArmstrong": "brian_armstrong",
    "CryptoWendyO": "CryptoWendyO",
    "ScottMelker": "scottmelker",
    "NayibBukele": "nayibbukele",
    "LeaThompson": "girlgone_crypto",
    "BenjaminCowen": "intocryptoverse",
    "MikeNovogratz": "novogratz",
    "TimDraper": "TimDraper",
    "CamilaRusso": "CamiRusso",
    "LarkDavis": "TheCryptoLark",
    "DanHeld": "danheld",
    "PierreRochard": "pierre_rochard",
    "IvanOnTech": "IvanOnTech",
    "GaborGurbacs": "gaborgurbacs",
    "NicCarter": "nic__carter",
    "LindaXie": "ljxie"
}

# --- Define cryptocurrency-related keywords for filtering ---
CRYPTO_KEYWORDS = ['crypto', 'bitcoin', 'ethereum', 'solana', 'cardano', 'blockchain',
                     'sol', 'eth', 'ada', 'btc', 'cryptocurrency', 'defi', 'web3',
                     'digital currency', 'whale', 'bullish', 'bearish', 'hodl', 'dex',
                     'coinbase', 'binance', 'kraken', 'tarrifs', 'recession', 'taxes',
                     'inflation', 'gold', 'stock', 'ATH', 'ATL']

def contains_crypto_keywords(text):
    """Return True if the tweet text contains any cryptocurrency keywords (case-insensitive)."""
    return any(keyword in text.lower() for keyword in CRYPTO_KEYWORDS)

# --- Initialize the Hugging Face sentiment pipeline using a Twitter-optimized model ---
sentiment_pipeline = pipeline("sentiment-analysis",
                              model="cardiffnlp/twitter-roberta-base-sentiment",
                              tokenizer="cardiffnlp/twitter-roberta-base-sentiment")

def analyze_sentiment(text):
    """
    Analyze sentiment for the provided tweet text.
    Returns a tuple: (sentiment_label, sentiment_score)
    """
    result = sentiment_pipeline(text)
    return result[0]["label"], result[0]["score"]

# --- Helper function to fetch tweets in incremental batches ---
async def fetch_tweets_incrementally(user_id, max_tweets=1000, batch_size=10, max_retries=5, initial_delay=2):
    tweets = []
    # In this version, we assume the generator returns many tweets at once.
    # If pagination is supported via a cursor, you can modify this helper accordingly.
    # Here, we simply call get_user_tweets repeatedly with a "count" parameter.
    total_fetched = 0
    while total_fetched < max_tweets:
        try:
            # Use the count parameter for each batch. (Remove cursor if your Twikit version doesn't support it.)
            batch = await client.get_user_tweets(user_id, "Tweets", count=batch_size)
        except TooManyRequests as e:
            print(f"Rate limit hit for user {user_id} on attempt, waiting {initial_delay} seconds...")
            await asyncio.sleep(initial_delay)
            initial_delay *= 2  # Exponential backoff
            continue

        if not batch:
            break
        tweets.extend(batch)
        total_fetched = len(tweets)
        print(f"Batch fetched: {len(batch)} tweets; total so far: {total_fetched}")
        # If fewer than batch_size tweets were returned, assume we've reached the end.
        if len(batch) < batch_size:
            break
        await asyncio.sleep(1)  # Brief delay between batches to avoid hitting rate limits.
    return tweets[:max_tweets]

async def main():
    # Log in to X using your credentials; cookies are saved to 'cookies.json'
    await client.login(
        auth_info_1=USERNAME,
        auth_info_2=EMAIL,
        password=PASSWORD,
        cookies_file='cookies.json'
    )
    
    account_data = {}  # Dictionary to hold DataFrames for each account
    
    # Process each account defined in ACCOUNTS
    for label, screen_name in ACCOUNTS.items():
        try:
            # Retrieve user information using get_user_by_screen_name
            user_obj = await client.get_user_by_screen_name(screen_name)
        except Exception as e:
            print(f"Error retrieving user info for {screen_name}: {e}")
            continue
        
        if not user_obj:
            print(f"Unable to fetch user info for {screen_name}. Skipping...")
            continue

        # Incrementally fetch tweets for the account, up to 1000 tweets.
        all_tweets = await fetch_tweets_incrementally(user_obj.id, max_tweets=1000, batch_size=10)
        print(f"Total tweets fetched for {screen_name}: {len(all_tweets)}")
        
        tweet_list = []
        for tweet in all_tweets:
            # Optional filtering: only include tweets that mention crypto keywords
            if not contains_crypto_keywords(tweet.text):
                continue
            handle = getattr(tweet.user, "username", None) or getattr(tweet.user, "screen_name", None)
            created_at = pd.to_datetime(tweet.created_at)
            sentiment_label, sentiment_score = analyze_sentiment(tweet.text)
            tweet_list.append({
                "Username": tweet.user.name,
                "Handle": handle,
                "Text": tweet.text,
                "Created_at": created_at,
                "Tweet_ID": tweet.id,
                "Sentiment_Label": sentiment_label,
                "Sentiment_Score": sentiment_score
            })
        # Convert list to DataFrame and store in the dictionary
        df = pd.DataFrame(tweet_list)
        account_data[label] = df
        print(f"Processed {len(tweet_list)} filtered tweets for {screen_name} (up to 1000 tweets).")
    
    return account_data

# Run the main async function and store the resulting DataFrames in 'dfs'
dfs = await main()

# Display a preview of each DataFrame
for label, df in dfs.items():
    print(f"\nTweets for {label}:")
    display(df.head())

Device set to use mps:0

Batch fetched: 20 tweets; total so far: 20
Batch fetched: 20 tweets; total so far: 40
Batch fetched: 20 tweets; total so far: 60
Batch fetched: 20 tweets; total so far: 80
Batch fetched: 20 tweets; total so far: 100
Batch fetched: 20 tweets; total so far: 120
Batch fetched: 20 tweets; total so far: 140
Batch fetched: 20 tweets; total so far: 160
Batch fetched: 20 tweets; total so far: 180
Batch fetched: 20 tweets; total so far: 200
Batch fetched: 20 tweets; total so far: 220
Batch fetched: 20 tweets; total so far: 240
Batch fetched: 20 tweets; total so far: 260
Batch fetched: 20 tweets; total so far: 280
Batch fetched: 20 tweets; total so far: 300
Batch fetched: 20 tweets; total so far: 320
Batch fetched: 20 tweets; total so far: 340
Batch fetched: 20 tweets; total so far: 360
Batch fetched: 20 tweets; total so far: 380
Batch fetched: 20 tweets; total so far: 400
Batch fetched: 20 tweets; total so far: 420
Batch fetched: 20 tweets; total so far: 440
Batch fetched: 20 tweets; total so far: 460
Batch fetched: 20 tweets; total so far: 480
Batch fetched: 20 tweets; total so far: 500
Batch fetched: 20 tweets; total so far: 520
Batch fetched: 20 tweets; total so far: 540
Batch fetched: 20 tweets; total so far: 560
Batch fetched: 20 tweets; total so far: 580
Batch fetched: 20 tweets; total so far: 600
Batch fetched: 20 tweets; total so far: 620
Batch fetched: 20 tweets; total so far: 640
Batch fetched: 20 tweets; total so far: 660
Batch fetched: 20 tweets; total so far: 680
Batch fetched: 20 tweets; total so far: 700
Batch fetched: 20 tweets; total so far: 720
Batch fetched: 20 tweets; total so far: 740
Batch fetched: 20 tweets; total so far: 760
Batch fetched: 20 tweets; total so far: 780
Batch fetched: 20 tweets; total so far: 800
Batch fetched: 20 tweets; total so far: 820
Batch fetched: 20 tweets; total so far: 840
Batch fetched: 20 tweets; total so far: 860
Batch fetched: 20 tweets; total so far: 880
Batch fetched: 20 tweets; total so far: 900
Batch fetched: 20 tweets; total so far: 920
Batch fetched: 20 tweets; total so far: 940
Batch fetched: 20 tweets; total so far: 960
Batch fetched: 20 tweets; total so far: 980
Rate limit hit for user 44196397 on attempt, waiting 2 seconds...
Rate limit hit for user 44196397 on attempt, waiting 4 seconds...
Rate limit hit for user 44196397 on attempt, waiting 8 seconds...
Rate limit hit for user 44196397 on attempt, waiting 16 seconds...
Rate limit hit for user 44196397 on attempt, waiting 32 seconds...
Rate limit hit for user 44196397 on attempt, waiting 64 seconds...
Rate limit hit for user 44196397 on attempt, waiting 128 seconds...
Rate limit hit for user 44196397 on attempt, waiting 256 seconds...